$DPDATA/data/backend_ecofa/inbox:$DPSCRIPT/py/split_file_by_column.py:%: --out=/apps/exensio_data/data/backend_ecofa/outbox --separator=, --columnloc=VENDOR_LOT_ID --gzip_out=N
#
$DPDATA/data/backend_ecofa/outbox:$DPSCRIPT/sic_ecofa_pp.pl:%: -out /archives-yms/data/backend_ecofa -backend -logfile $DPLOG/backend_ecofa.log
