#
$DPDATA/data/cz2_met_epitaxy/inbox:$DPSCRIPT/py/split_file_by_column.py:csv: --out=$DPDATA/data/cz2_met_epitaxy/inbox1 --separator=, --columnloc=EQPTYPE --gzip_out=N
#
$DPDATA/data/cz2_met_epitaxy/inbox1:$DPSCRIPT/py/split_file_by_column.py:%: --out=$DPDATA/data/cz2_met_epitaxy/inbox2 --separator=, --columnloc=WAFERID --gzip_out=N
#
$DPDATA/data/cz2_met_epitaxy/inbox2:$DPSCRIPT/py/split_file_by_column.py:%: --out=$DPDATA/data/cz2_met_epitaxy/outbox --separator=, --columnloc=START_TIME --gzip_out=Y
