#$DPDATA/data/cz2_met_sic_epi_ftir/inbox:$DPSCRIPT/py/replace_null_with_na.py:csv: --out=$DPDATA/data/cz2_met_sic_epi_ftir/outbox --logfile=$DPDATA/data/cz2_met_sic_epi_ftir/log/cz2_sic_epi_ftir_pp.cfg.log --separator="," --gzip_out=Y
#
$DPDATA/data/cz2_met_sic_epi_ftir/inbox:$DPSCRIPT/py/split_file_by_column.py:csv: --out=$DPDATA/data/cz2_met_sic_epi_ftir/inbox1 --separator=, --columnloc=WAFER_ID --gzip_out=N
#
$DPDATA/data/cz2_met_sic_epi_ftir/inbox1:$DPSCRIPT/py/split_file_by_column.py:%: --out=$DPDATA/data/cz2_met_sic_epi_ftir/outbox --separator=, --columnloc=START_TIME --gzip_out=Y
