#$DPDATA/data/cz2_met_sic_epi_hgcv/inbox:$DPSCRIPT/py/replace_null_with_na.py:csv: --out=$DPDATA/data/cz2_met_sic_epi_hgcv/outbox --logfile=$DPDATA/data/cz2_met_sic_epi_hgcv/log/cz2_sic_epi_hgcv_pp.cfg.log --separator=","
#
$DPDATA/data/cz2_met_sic_epi_hgcv/inbox:$DPSCRIPT/py/split_file_by_column.py:csv: --out=$DPDATA/data/cz2_met_sic_epi_hgcv/inbox1 --separator=, --columnloc=WAFER_ID --gzip_out=N
#
$DPDATA/data/cz2_met_sic_epi_hgcv/inbox1:$DPSCRIPT/py/split_file_by_column.py:%: --out=$DPDATA/data/cz2_met_sic_epi_hgcv/outbox --separator=, --columnloc=START_TIME --gzip_out=Y
