#
$DPDATA/data/cz2_met_aixtron/inbox:$DPSCRIPT/py/split_file_by_column.py:csv: --out=$DPDATA/data/cz2_met_aixtron/inbox1 --separator=, --columnloc=WAFERID --gzip_out=N
#
$DPDATA/data/cz2_met_aixtron/inbox1:$DPSCRIPT/py/split_file_by_column.py:%: --out=$DPDATA/data/cz2_met_aixtron/outbox --separator=, --columnloc=START_TIME --gzip_out=Y
