# PRE-PROCESS
#
# $DPDATA/data/efk_weh_txt/inbox:$DPSCRIPT/efk_weh_txt_split_by_tech.pl:%: -out $DPDATA/data/efk_weh_txt/outbox1 -logfile $DPDATA/data/efk_weh_txt/log/efk_weh_txt_split_by_tech.pl.log
#
$DPDATA/data/efk_weh_txt/outbox1:$DPSCRIPT/efk_weh_txt.pl:%: -out $DPDATA/data/efk_weh_txt/outbox2 -archive /archives-yms/data/efk_weh_txt/PRODUCTION -logfile $DPDATA/data/efk_weh_txt/log/efk_weh_txt.pl.log -splitby 49995 -gzip
