#2021-May-01 jgarcia  : Create
#2021-May-25 kgabato  : remove qde in Process

### MTET_RDHM ### 
# $DPDATA/data/mtet_rdhm:$DPSCRIPT/fcs_cust_mtet_rdhm.pl:%: --logfile $DPDATA/data/mtet_rdhm/log/mtet_rdhm_move.log
# $DPDATA/data/mtet_rdhm/FMT:$DPSCRIPT/fcs_rh_mt_IFF.pl:%: --type Process --loc MT --testplanpath $DPDATA/data/mtet_rdhm/TP --out /archives-yms/data/mtet_rdhm/Prg_Process --facilityfile $DPSCRIPT/facilityMapping.ini --log $DPDATA/data/mtet_rdhm/log/mtet_rdhm.log --pplog
# $DPDATA/data/mtet_rdhm/FMT/Processed:$DPSCRIPT/fcs_rh_mt_IFF.pl:%: --type Product --qde --loc MT --testplanpath $DPDATA/data/mtet_rdhm/TP --out /archives-yms/data/mtet_rdhm/Prg_Product --facilityfile $DPSCRIPT/facilityMapping.ini --log $DPDATA/data/mtet_rdhm/log/mtet_rdhm.log --pplog
