## 07-Apr-2021 JA Garcia - Initial
#
# NAM
$DPDATA/data/mtsort_wmap_nam:$DPSCRIPT/fcs_nam_IFF.pl:%: --loc MT --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --out /archives-yms/data/mtsort_wmap_nam --log $DPDATA/data/mtsort_wmap_nam/log/mtsort_wmap_nam.log --pplog
