#2021-Apr-27  gllego : initial
#
# VGRD EAGLE
# $DPDATA/data/vgrd_tw_et_eagle:$DPSCRIPT/fcs_hp_et_IFF.pl:%: --type Process --loc VGRD_TW --facilityfile $DPSCRIPT/facilityMapping.ini --platform EAGLE --site vgrd_tw_et_eagle --out /archives-yms/data/vgrd_tw_et_eagle/Prg_Process $DPDATA/data/vgrd_tw_et_eagle/log/vgrd_tw_et_eagle.log --pplog
# $DPDATA/data/vgrd_tw_et_eagle/Processed:$DPSCRIPT/fcs_hp_et_IFF.pl:%: --type Product --qde --loc VGRD_TW --facilityfile $DPSCRIPT/facilityMapping.ini --platform EAGLE --site vgrd_tw_et_eagle --out /archives-yms/data/vgrd_tw_et_eagle/Prg_Product --log $DPDATA/data/vgrd_tw_et_eagle/log/vgrd_tw_et_eagle.log --pplog

