## 08-Apr-2021 JA Garcia - Initial
# NAM
$DPDATA/data/mesort_wmap_nam:$DPSCRIPT/fcs_nam_IFF.pl:%: --loc ME --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --out /archives-yms/data/mesort_wmap_nam --log $DPDATA/data/mesort_wmap_nam/log/mesort_wmap_nam.log --pplog
#
# SEPROBE
#$DPDATA/data/mesort_wmap_sep:$DPSCRIPT/fcs_se_probe_IFF.pl:%: --out /archives-yms/data/mesort_wmap_sep --site mesort --loc ME --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --log $DPDATA/data/mesort_wmap_sep/log/mesort_wmap_sep.log --pplog
#

