#cpft_tar_srm
# 2024-Apr-30 - jgarcia - moved out from fcs_pp_cp_ast.cfg
$DPDATA/data/cpast_tar_srm:$DPSCRIPT/fcs_srm_IFF.pl:%: --out /archives-yms/data/cpast_tar_srm --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --log $DPDATA/data/cpast_tar_srm/log/cpast_tar_srm.log --finallot --pplog