#2021-Apr-22  jgarcia : initial
# TMT
$DPDATA/data/bksort_tmt:$DPSCRIPT/fcs_stdf_tmt_IFF.pl:%: --metastrip --out /archives-yms/data/bksort_tmt --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --logfile $DPDATA/data/bksort_tmt/log/bksort_tmt.log --pplog



