#2021-Apr-10  gllego : initial
###
# HANA EAGLE
$DPDATA/data/hana_th_ft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site hana_th_ft --loc HANA_TH --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/hana_th_ft_eagle --logfile $DPDATA/data/hana_th_ft_eagle/log/hana_th_ft_eagle.log --pplog
#
# AMKOR AWW
$DPDATA/data/amkor_tw_ft_wmap_aww:$DPSCRIPT/fcs_aww_IFF.pl:%: --site amkor_tw_ft --loc AMKOR_TW --facilityfile $DPSCRIPT/facilityMapping.ini --config AWW --out /archives-yms/data/amkor_tw_ft_wmap_aww --logfile $DPDATA/data/amkor_tw_ft_wmap_aww/log/amkor_tw_ft_wmap_aww.log --pplog
# ASENT BSTDF
#$DPDATA/data/asent_tw_ft_bstdf:$DPSCRIPT/fcs_bstdf_IFF.pl:%: --out /archives-yms/data/asent_tw_ft_bstdf --finallot --loc ASENT_TW --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/asent_tw_ft_bstdf/log/asent_tw_ft_bstdf.log --pplog
#
# ATEC MCT
$DPDATA/data/atec_ph_ft_mct:$DPSCRIPT/fcs_cust_mct_stdf.pl:%: --logfile $DPDATA/data/atec_ph_ft_mct/log/atec_ph_ft_mct_move_tp_file.log
$DPDATA/data/atec_ph_ft_mct/TD:$DPSCRIPT/fcs_mct_stdf_IFF.pl:%: --site atec_ph_ft --out /archives-yms/data/atec_ph_ft_mct --loc ATEC_PH --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/atec_ph_ft_mct/log/atec_ph_ft_mct.log --tpDir $DPDATA/data/atec_ph_ft_mct/TP --finallot --pplog
#
# ATEC STATEC
$DPDATA/data/atec_ph_ft_statec:$DPSCRIPT/fcs_cust_statec.pl:%: --logfile $DPDATA/data/atec_ph_ft_statec/log/atec_ph_ft_statec_move.log
$DPDATA/data/atec_ph_ft_statec/LOG2:$DPSCRIPT/fcs_statec_log2.pl:%: --out /archives-yms/data/atec_ph_ft_statec --loc ATEC_PH --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/atec_ph_ft_statec/log/atec_ph_ft_statec_log2.log --finallot --site atec_ph_ft --pplog
$DPDATA/data/atec_ph_ft_statec/SUM:$DPSCRIPT/fcs_statec_sum.pl:%: --out /archives-yms/data/atec_ph_ft_statec --loc ATEC_PH --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/atec_ph_ft_statec/log/atec_ph_ft_statec_sum.log --finallot --site atec_ph_ft --pplog
##
# ATEC TMT
$DPDATA/data/atec_ph_ft_tmt/LSR_SPD:$DPSCRIPT/fcs_tmt_IFF.pl:SPD: --reffile $DPDATA/data/atec_ph_ft_tmt/TP --movelsr --site atec_ph_ft --finallot --loc ATEC_PH --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/atec_ph_ft_tmt --logfile $DPDATA/data/atec_ph_ft_tmt/log/atec_ph_ft_tmt.log --pplog
#
# ATEC EAGLE
$DPDATA/data/atec_ph_ft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site atec_ph_ft --loc ATEC_PH --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/atec_ph_ft_eagle --logfile $DPDATA/data/atec_ph_ft_eagle/log/atec_ph_ft_eagle.log --pplog
#
# ATEC ADVAN
#/data/atec_ph_ft_advan:$DPSCRIPT/fcs_stdf_advantest_IFF.pl:%: --site atec_ph_ft --loc ATEC_PH --finallot --out /data/atec_ph_ft_advan/stage --logfile /data/atec_ph_ft_advan/log/atec_ph_ft_advan.log --pplog
#
# ETREND EAGLE
#$DPDATA/data/etrend_tw_ft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site etrend_tw_ft --loc ETREND_TW --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/etrend_tw_ft_eagle --logfile $DPDATA/data/etrend_tw_ft_eagle/log/etrend_tw_ft_eagle.log --pplog
#
# GEM QTEC
$DPDATA/data/gem_cn_ft_qtec:$DPSCRIPT/fcs_cust_qtec_gem_cn_ft.pl:%: --logfile $DPDATA/data/gem_cn_ft_qtec/log/gem_cn_ft_qtec_move.log
$DPDATA/data/gem_cn_ft_qtec/XLS:$DPSCRIPT/fcs_powertech_xls.pl:%: --out /archives-yms/data/gem_cn_ft_qtec --loc GEM_CN --facilityfile $DPSCRIPT/facilityMapping.ini --site GEM_CN_FT_QTEC --finallot --logfile $DPDATA/data/gem_cn_ft_qtec/log/gem_cn_ft_qtec.xls.log --tpdir $DPDATA/data/gem_cn_ft_qtec/PTX --pplog --notify
$DPDATA/data/gem_cn_ft_qtec/TXT:$DPSCRIPT/fcs_pt_txt_IFF.pl:%: --out /archives-yms/data/gem_cn_ft_qtec --loc GEM_CN --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --logfile $DPDATA/data/gem_cn_ft_qtec/log/gem_cn_ft_qtec.txt.log --pplog
#
# GEM TMT
#/data/gem_cn_ft_tmt/LSR_SPD:$DPSCRIPT/fcs_tmt_IFF.pl:SPD: --movelsr --site gem_cn_ft --finallot --loc GEM_CN --out /data/gem_cn_ft_tmt/LSR_SPD/stage --logfile /data/gem_cn_ft_tmt/log/gem_cn_ft_tmt.log --pplog
#
# GEM TH
#/data/gem_cn_ft_th:$DPSCRIPT/fcs_tonghui_csv_IFF.pl:%: --out /data/gem_cn_ft_th/stage --loc GEM_CN --finallot --logfile /data/gem_cn_ft_th/log/gem_cn_ft_th.log --pplog
#
# GTK EAGLE
#$DPDATA/data/gtk_tw_ft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site gtk_tw_ft --loc GTK_TW --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/gtk_tw_ft_eagle --logfile $DPDATA/data/gtk_tw_ft_eagle/log/gtk_tw_ft_eagle.log --pplog
#
# GTK MCT
$DPDATA/data/gtk_tw_ft_mct:$DPSCRIPT/fcs_cust_mct_stdf.pl:%: --logfile $DPDATA/data/gtk_tw_ft_mct/log/gtk_tw_ft_mct_move_file.log
$DPDATA/data/gtk_tw_ft_mct/TD:$DPSCRIPT/fcs_mct_stdf_IFF.pl:%: --site gtk_tw_ft --out /archives-yms/data/gtk_tw_ft_mct --loc GTK_TW --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/gtk_tw_ft_mct/log/gtk_tw_ft_mct.log --tpDir $DPDATA/data/gtk_tw_ft_mct/TP --finallot --pplog
#
# GTK TMT
$DPDATA/data/gtk_tw_ft_tmt/LSR_SPD:$DPSCRIPT/fcs_tmt_IFF.pl:SPD: --reffile $DPDATA/data/gtk_tw_ft_tmt/TP --movelsr --site gtk_tw_ft --finallot --loc GTK_TW --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/gtk_tw_ft_tmt --logfile $DPDATA/data/gtk_tw_ft_tmt/log/gtk_tw_ft_tmt.log --pplog
#
# HANA_CN TMT
#/data/hana_cn_ft_tmt/LSR_SPD:$DPSCRIPT/fcs_tmt_IFF.pl:SPD: --movelsr --site hana_cn_ft --finallot --loc HANA_CN --out /data/hana_cn_ft_tmt/LSR_SPD/stage --logfile /data/hana_cn_ft_tmt/log/hana_cn_ft_tmt.log --pplog
#
# HANA_TH ADVAN
$DPDATA/data/hana_th_ft_advan:$DPSCRIPT/fcs_stdf_advantest_IFF.pl:%: --site hana_th_ft --loc HANA_TH --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/hana_th_ft_advan --logfile $DPDATA/data/hana_th_ft_advan/log/hana_th_ft_advan.log --pplog
#
# HANA MCT
$DPDATA/data/hana_th_ft_mct:$DPSCRIPT/fcs_cust_mct_stdf.pl:%: --logfile $DPDATA/data/hana_th_ft_mct/log/hana_th_ft_mct_move_file.log
$DPDATA/data/hana_th_ft_mct/TD:$DPSCRIPT/fcs_mct_stdf_IFF.pl:%: --site hana_th_ft --loc HANA_TH --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/hana_th_ft_mct --tpDir $DPDATA/data/hana_th_ft_mct/TP --logfile $DPDATA/data/hana_th_ft_mct/log/hana_th_ft_mct.log --pplog
#
# HANA_TH TMT
$DPDATA/data/hana_th_ft_tmt/LSR_SPD:$DPSCRIPT/fcs_tmt_IFF.pl:SPD: --reffile $DPDATA/data/hana_th_ft_tmt/TP --movelsr --site hana_th_ft --finallot --loc HANA_TH --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/hana_th_ft_tmt --logfile $DPDATA/data/hana_th_ft_tmt/log/hana_th_ft_tmt.log --pplog
#
# JCET ITEC
$DPDATA/data/jcet_cn_ft_itec:$DPSCRIPT/fcs_itec_csv_IFF.pl:CSV: --out /archives-yms/data/jcet_cn_ft_itec --logfile $DPDATA/data/jcet_cn_ft_itec/log/jcet_cn_ft_itec_csv.log --loc JCET_CN --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --pplog --nosandbox
$DPDATA/data/jcet_cn_ft_itec:$DPSCRIPT/fcs_itec_sum_IFF.pl:TXT: --out /archives-yms/data/jcet_cn_ft_itec --logfile $DPDATA/data/jcet_cn_ft_itec/log/jcet_cn_ft_itec_txt.log --loc JCET_CN --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --pplog --nosandbox
#
# UTAC MCT 
#$DPDATA/data/utac_th_ft_mct:$DPSCRIPT/fcs_cust_mct_stdf.pl:%: --logfile $DPDATA/data/utac_th_ft_mct/log/utac_th_ft_mct_move_file.log
#$DPDATA/data/utac_th_ft_mct/TD:$DPSCRIPT/fcs_mct_stdf_IFF.pl:%: --site utac_th_ft --out /archives-yms/data/utac_th_ft_mct --loc UTAC_TH --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/utac_th_ft_mct/log/utac_th_ft_mct.log --tpDir $DPDATA/data/utac_th_ft_mct/TP --finallot --pplog --nosandbox
#
# UTAC TMT
#/data/utac_th_ft_tmt/LSR_SPD:$DPSCRIPT/fcs_tmt_IFF.pl:SPD: --movelsr --site utac_th_ft --finallot --loc UTAC_TH --out /data/utac_th_ft_tmt/LSR_SPD/stage --logfile /data/utac_th_ft_tmt/log/utac_th_ft_tmt.log --pplog --nosandbox
#
# UTAC EAGLE
#$DPDATA/data/utac_th_ft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site utac_th_ft --loc UTAC_TH --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --metastrip --out /archives-yms/data/utac_th_ft_eagle --logfile $DPDATA/data/utac_th_ft_eagle/log/utac_th_ft_eagle.log --pplog
#
# UTAC ADVAN
#$DPDATA/data/utac_th_ft_advan:$DPSCRIPT/fcs_stdf_advantest_IFF.pl:%: --site utac_th_ft --loc UTAC_TH --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/utac_th_ft_advan --logfile $DPDATA/data/utac_th_ft_advan/log/utac_th_ft_advan.log --pplog --nosandbox
# 
# JCET CN JUNO
$DPDATA/data/jcet_cn_ft_juno:$DPSCRIPT/fcs_cust_jcet_cn_ft_juno.pl:%: --logfile $DPDATA/data/jcet_cn_ft_juno/log/jcet_cn_ft_juno_move_file.log
$DPDATA/data/jcet_cn_ft_juno/XLS_DATA:$DPSCRIPT/fcs_juno_xls_data_IFF.pl:%: --out /archives-yms/data/jcet_cn_ft_juno --loc JCET_CN --facilityfile $DPSCRIPT/facilityMapping.ini --site jcet_cn_ft_juno --finallot --logfile $DPDATA/data/jcet_cn_ft_juno/log/jcet_cn_ft_juno.cfg.log --pplog --nosandbox
$DPDATA/data/jcet_cn_ft_juno/XLS_SUM:$DPSCRIPT/fcs_juno_xls_sum_IFF.pl:%: --out /archives-yms/data/jcet_cn_ft_juno --loc JCET_CN --facilityfile $DPSCRIPT/facilityMapping.ini --site jcet_cn_ft_juno --finallot --logfile $DPDATA/data/jcet_cn_ft_juno/log/jcet_cn_ft_juno.cfg.log --pplog --nosandbox
$DPDATA/data/jcet_cn_ft_juno/CSV_SUM:$DPSCRIPT/fcs_juno_csv_sum_IFF.pl:%: --out /archives-yms/data/jcet_cn_ft_juno --loc JCET_CN --facilityfile $DPSCRIPT/facilityMapping.ini --site jcet_cn_ft_juno --finallot --logfile $DPDATA/data/jcet_cn_ft_juno/log/jcet_cn_ft_juno.cfg.log --pplog --nosandbox
#
# TAKCHEONG CN TESEC
#$DPDATA/data/tc_cn_ft_tesec:$DPSCRIPT/fcs_tc_tesec_csv_IFF.pl:%: --out /archives-yms/data/tc_cn_ft_tesec --loc TC_CN --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --logfile $DPDATA/data/tc_cn_ft_tesec/log/tc_cn_ft_tesec.log --pplog
#
# AMKOR MAVPT
#/data/amkor_ph_ft_mavpt:$DPSCRIPT/fcs_cust_amkor_ph_ft_mavpt.pl:%: --logfile /data/amkor_ph_ft_mavpt/log/amkor_ph_ft_mavpt_move.log
#/data/amkor_ph_ft_mavpt/CSV:$DPSCRIPT/fcs_mavpt_csv_IFF.pl:%: --out /data/amkor_ph_ft_mavpt/CSV/stage --finallot --loc AMKOR_PH --site amkor_ph_ft --logfile /data/amkor_ph_ft_mavpt/log/amkor_ph_ft_mavpt_csv.log --pplog
#/data/amkor_ph_ft_mavpt/TXT:$DPSCRIPT/fcs_mavpt_txt_IFF.pl:%: --out /data/amkor_ph_ft_mavpt/TXT/stage --finallot --loc AMKOR_PH --site amkor_ph_ft --logfile /data/amkor_ph_ft_mavpt/log/amkor_ph_ft_mavpt_txt.log --pplog
#
# KYEC SPEA MEMS
#/data/kyec_tw_ft_spea:$DPSCRIPT/fcs_stdf4_IFF.pl:%: --out /data/kyec_tw_ft_spea/stage --loc KYEC_TW --tester SPEA --finallot --product MEMS --logfile /data/kyec_tw_ft_spea/log/kyec_tw_ft_spea.log --pplog
#
# AMKOR PH FET
#/data/amkor_ph_ft_fet:$DPSCRIPT/fcs_cust_amkor_ph_ft_fet.pl:%: --logfile /data/amkor_ph_ft_fet/log/amkor_ph_ft_fet_move.log
#/data/amkor_ph_ft_fet/CPR:$DPSCRIPT/fcs_fet_cpr_ft_IFF.pl:%: --out /data/amkor_ph_ft_fet/CPR/stage --tpDir /data/amkor_ph_ft_fet/PRN --TYPE FT --loc AMKOR_PH --site amkor_ph_ft --finallot --logfile /data/amkor_ph_ft_fet/log/amkor_ph_ft_fet.log --pplog
#
# JCET CN QTEC
#$DPDATA/data/jcet_cn_ft_qtec:$DPSCRIPT/fcs_cust_jcet_cnt_ft_qtec.pl:%: --logfile $DPDATA/data/jcet_cn_ft_qtec/log/jcet_cn_ft_qtec_move.log
#$DPDATA/data/jcet_cn_ft_qtec/DATA:$DPSCRIPT/fcs_qtec_xls_data_IFF.pl:%: --out /archives-yms/data/jcet_cn_ft_qtec --loc JCET_CN --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --logfile $DPDATA/data/jcet_cn_ft_qtec/log/jcet_cn_ft_qtec.xls.log --pplog
#$DPDATA/data/jcet_cn_ft_qtec/SUM:$DPSCRIPT/fcs_qtec_xlsx_sum_IFF.pl:%: --out /archives-yms/data/jcet_cn_ft_qtec --loc JCET_CN  --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --logfile $DPDATA/data/jcet_cn_ft_qtec/log/jcet_cn_ft_qtec.xlsx.log --pplog
#
# ITS EAGLE
#$DPDATA/data/its_tw_ft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site its_tw_ft --loc ISTS_TW --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/its_tw_ft_eagle --logfile $DPDATA/data/its_tw_ft_eagle/log/its_tw_ft_eagle.log --pplog
#
# ASE MY FT  ##Eric 23-Jan-2018##
$DPDATA/data/ase_my_ft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site aseft --loc ASE_MY --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/ase_my_ft_eagle --logfile $DPDATA/data/ase_my_ft_eagle/log/ase_my_ft_eagle.log --pplog
