#2021-Apr-22  jgarcia : initial
# TMT FT
$DPDATA/data/szft_tmt/LSR_SPD:$DPSCRIPT/fcs_tmt_IFF.pl:SPD: --movelsr --site szft_tmt --finallot --loc SZ --reffile $DPDATA/data/szft_tmt/TP --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/szft_tmt --log $DPDATA/data/szft_tmt/log/szft_tmt.log --pplog


