#2021-Apr-22  jgarcia : initial
# SHIBA FT
$DPDATA/data/szft_shiba:$DPSCRIPT/fcs_shiba_ft_IFF.pl:%:  --binreffile $DPDATA/data/szft_shiba/TP --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/szft_shiba --loc SZ --finallot --logfile $DPDATA/data/szft_shiba/log/szft_shiba.log --pplog

