#cpft_douyee
# 2024-Apr-30 - jgarcia - moved out from fcs_pp_cp_ast.cfg
$DPDATA/data/cpast_pbf_douyee:$DPSCRIPT/fcs_douyee_IFF.pl:%: --out /archives-yms/data/cpast_pbf_douyee --facilityfile $DPSCRIPT/facilityMapping.ini --log $DPDATA/data/cpast_pbf_douyee/log/cpast_pbf_douyee.log --loc CP --finallot --pplog