# 27-Jan-2022 Glory      : Create

# EAGLE
$DPDATA/data/cpft_eagle/inbox/Processed:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site cpft --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/cpft_eagle --log $DPDATA/data/cpft_eagle/log/cpft_eagle.log --pplog

