# 06-Apr-2021 Karen      : Create


# EAGLE
#$DPDATA/data/cpft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site cpft --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/cpft_eagle --log $DPDATA/data/cpft_eagle/log/cpft_eagle.log --pplog

# FET

# $DPDATA/data/cpft_fet:$DPSCRIPT/fcs_fet_ft_IFF.pl:DAT: --out /archives-yms/data/cpft_fet --tpDir $DPDATA/data/cpft_fet/TP --TYPE FT --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --log $DPDATA/data/cpft_fet/log/cpft_fet.log --pplog

# MCT
# $DPDATA/data/cpft_mct:$DPSCRIPT/fcs_cust_mct_stdf.pl:%: --log $DPDATA/data/cpft_mct/log/move_tp_file.log
# $DPDATA/data/cpft_mct/TD:$DPSCRIPT/fcs_mct_stdf_IFF.pl:%: --site cpft --out /archives-yms/data/cpft_mct --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/cpft_mct/log/cpft_mct.log --tpDir $DPDATA/data/cpft_mct/TP --finallot --pplog
#
# STATEC
# $DPDATA/data/cpft_statec:$DPSCRIPT/fcs_cust_statec.pl:%: --logfile $DPDATA/data/cpft_statec/log/cpft_statec_move.log
# $DPDATA/data/cpft_statec/LOG2/inbox/Processed:$DPSCRIPT/fcs_statec_log2.pl:%: --out /archives-yms/data/cpft_statec --loc CP --site cpft --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/cpft_statec/log/cpft_statec_log2.log --finallot --pplog
# $DPDATA/data/cpft_statec/SUM/inbox/Processed:$DPSCRIPT/fcs_statec_sum.pl:%: --out /archives-yms/data/cpft_statec --loc CP --site cpft --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/cpft_statec/log/cpft_statec_sum.log --finallot --pplog
#
# TMT
#$DPDATA/data/cpft_tmt/LSR_SPD:$DPSCRIPT/fcs_tmt_SPD_LSR_IFF.pl:%: --site cpft_tmt --finallot --loc CP --tpdir $DPDATA/data/cpft_tmt/TP --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/cpft_tmt --log $DPDATA/data/cpft_tmt/log/cpft_tmt.log --pplog

# ICOS
# $DPDATA/data/cpft_icos:$DPSCRIPT/fcs_icos_xls_IFF.pl:%: --out /archives-yms/data/cpft_icos --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --binreffile $DPDATA/data/cpcsp_icos/REF/bin.ref --type assy --finallot --logfile $DPDATA/data/cpft_icos/log/cpft_icos.log --pplog
# #
# POWERTECH
# $DPDATA/data/cpft_ptech:$DPSCRIPT/fcs_powertech_stdf_IFF.pl:%: --out /archives-yms/data/cpft_ptech --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --logfile $DPDATA/data/cpft_ptech/log/cpft_ptech.log -pplog
