#cpft_statec_log2
# 2024-Apr-30 - jgarcia - moved out from fcs_pp_cp_ft.cfg
$DPDATA/data/cpft_statec/LOG2/inbox/Processed:$DPSCRIPT/fcs_statec_log2.pl:%: --out /archives-yms/data/cpft_statec --loc CP --site cpft --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/cpft_statec/log/cpft_statec_log2.log --finallot --pplog