# BSTDF
#2024-Apr-30 -jgarcia - moved out or separated from fcs_pp_bk_sort.cfg 
$DPDATA/data/bksort_bstdf:$DPSCRIPT/fcs_bstdf_IFF.pl:%: --metastrip --out /archives-yms/data/bksort_bstdf --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --logfile $DPDATA/data/bksort_bstdf/log/bksort_bstdf.log --pplog