#cpft_autovis
# 2024-Apr-30 - jgarcia - moved out from fcs_pp_cp_ast.cfg
$DPDATA/data/cpast_autovis:$DPSCRIPT/fcs_autov_IFF.pl:%: --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --temp $DPDATA/data/cpast_autovis/temp  --out /archives-yms/data/cpast_autovis  --logfile $DPDATA/data/cpast_autovis/log/cpast_autovis.log --pplog