#2021-Apr-22  jgarcia : initial
# BSTDF
$DPDATA/data/bksort_bstdf:$DPSCRIPT/fcs_bstdf_IFF.pl:%: --metastrip --out /archives-yms/data/bksort_bstdf --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --logfile $DPDATA/data/bksort_bstdf/log/bksort_bstdf.log --pplog



