# 06-Apr-2021 Karen     : Created
#
# SEPROBE
#/data/cpsort_wmap_sep:$DPSCRIPT/fcs_se_probe_IFF.pl:%: --out /data/cpsort_wmap_sep/stage --site cpsort --loc CP --config SEPM --log /data/cpsort_wmap_sep/log/cpsort_wmap_sep.log --pplog
#
# NAM
# $DPDATA/data/cpcsp_wmap_nam/inbox/Processed:$DPSCRIPT/fcs_nam_IFF.pl:%: --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --out /archives-yms/data/cpcsp_wmap_nam --log $DPDATA/data/cpcsp_wmap_nam/log/cpcsp_wmap_nam.log --finallot --pplog
#
# ADVAN
#Rodney Cyr 2016-May-16#/data/cpsort_advan:/home/dpower/project/scripts/fcs_stdf_advantest_IFF.pl:%:  --site cpsort_advan --config SEPM --loc CP --out /data/cpsort_advan/stage --log /data/cpsort_advan/log/cpsort_advan.log --pplog
#
# EAGLE
# $DPDATA/data/cpsort_eagle/inbox/Processed:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site cpsort --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --out /archives-yms/data/cpsort_eagle --log $DPDATA/data/cpsort_eagle/log/cpsort_eagle.log --pplog
#
# FET
# $DPDATA/data/cpsort_fet:$DPSCRIPT/fcs_fet_cpsort_IFF.pl:%: --out /archives-yms/data/cpsort_fet --facilityfile $DPSCRIPT/facilityMapping.ini --tpdir $DPDATA/data/cpsort_fet/TP --loc CP --config SEPM  --log $DPDATA/data/cpsort_fet/log/cpsort_fet.log --type SINGLE --pplog
#
# FET QUAD
# $DPDATA/data/cpsort_fet_quad:$DPSCRIPT/fcs_fet_cpsort_IFF.pl:%: --out  /archives-yms/data/cpsort_fet_quad --facilityfile $DPSCRIPT/facilityMapping.ini --tpdir $DPDATA/data/cpsort_fet_quad/TP --loc CP --config SEPM  --log $DPDATA/data/cpsort_fet_quad/log/cpsort_fet_quad.log --type QUAD --pplog
#
# TMT
# $DPDATA/data/cpsort_tmt:$DPSCRIPT/fcs_stdf_tmt_IFF.pl:%: --out /archives-yms/data/cpsort_tmt --loc CP --config SEPM --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/cpsort_tmt/log/cpsort_tmt.log --pplog
#
# ICOS
# $DPDATA/data/cpcsp_icos:$DPSCRIPT/fcs_icos_xls_IFF.pl:%: --out /archives-yms/data/cpcsp_icos --binreffile $DPDATA/data/cpcsp_icos/REF/bin.ref--loc CP --type sort --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/cpcsp_icos/log/cpcsp_icos.log --pplog
