#2021-Apr-26  gllego : initial
###
# HANA MCT
# $DPDATA/data/hana_th_ft_mct:$DPSCRIPT/fcs_cust_mct_stdf.pl:%: --logfile $DPDATA/data/hana_th_ft_mct/log/hana_th_ft_mct_move_file.log
$DPDATA/data/hana_th_ft_mct/TD:$DPSCRIPT/fcs_mct_stdf_IFF.pl:%: --site hana_th_ft --loc HANA_TH --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/hana_th_ft_mct --tpDir $DPDATA/data/hana_th_ft_mct/TP --logfile $DPDATA/data/hana_th_ft_mct/log/hana_th_ft_mct.log --pplog
