#2021-Apr-22  jgarcia : initial
# EAGLE
$DPDATA/data/bksort_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --metastrip --site bksort --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --out /archives-yms/data/bksort_eagle --log $DPDATA/data/bksort_eagle/log/bksort_eagle.log --pplog


