# 06-Nov-2017 Eric	: New
#
# EAGLE
#$DPDATA/data/casort_eagle:$DPSCRIPT/CASORT_fcs_eagle_log_IFF.pl:%: --site casort --loc SJ --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --out /archives-yms/data/casort_eagle --log $DPDATA/data/casort_eagle/log/casort_eagle.log --pplog
#
# ADVAN
$DPDATA/data/casort_advan:$DPSCRIPT/CASORT_fcs_stdf_advantest_IFF.pl:%: --site casort_advan --config SEPM --loc SJ --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/casort_advan --log $DPDATA/data/casort_advan/log/casort_advan.log --pplog
