# 2021-Apr-30  jgarcia	:	Create

# # WKS
$DPDATA/data/mtfab8_wks:$DPSCRIPT/fcs_wkstrm.pl:ZIP: --fmtdir $DPSCRIPT/workstream/MTOP_WKS_BCP_FMT -out /archives-yms/data/mtfab8_wks/STAGING -facilityarea probe -facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/mtfab8_wks/log/mtfab8_wks.log --loc MT --pplog
$DPDATA/data/mtfab8_wks:$DPSCRIPT/fcs_wkstrm.pl:zip: --fmtdir $DPSCRIPT/workstream/MTOP_WKS_BCP_FMT -out /archives-yms/data/mtfab8_wks/STAGING -facilityarea probe -facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/mtfab8_wks/log/mtfab8_wks.log --loc MT --pplog
