#cpft_powertech
# 2024-Apr-30 - jgarcia - moved out from fcs_pp_cp_ft.cfg
$DPDATA/data/cpft_ptech:$DPSCRIPT/fcs_powertech_stdf_IFF.pl:%: --out /archives-yms/data/cpft_ptech --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --logfile $DPDATA/data/cpft_ptech/log/cpft_ptech.log -pplog