#2021-Apr-22  jgarcia : initial
# TESEC FT
$DPDATA/data/szft_tesec:$DPSCRIPT/fcs_tesec_dta_ft_IFF.pl:%:  --out /archives-yms/data/szft_tesec --facilityfile $DPSCRIPT/facilityMapping.ini --log $DPDATA/data/szft_tesec/log/szft_tesec.log --loc SZ  --site szft --finallot --pplog


