#2021-Apr-22  jgarcia : initial
# SPM / STATEC FT
$DPDATA/data/szft_spm:$DPSCRIPT/fcs_spm_log2_IFF.pl:LOG2: --out /archives-yms/data/szft_spm --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_spm/log/szft_spm_log2.log --finallot --pplog
$DPDATA/data/szft_spm:$DPSCRIPT/fcs_spm_log2_IFF.pl:log2: --out /archives-yms/data/szft_spm --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_spm/log/szft_spm_log2.log --finallot --pplog
$DPDATA/data/szft_spm:$DPSCRIPT/fcs_spm_sum_IFF.pl:SUM: --ext sum --out /archives-yms/data/szft_spm --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_spm/log/szft_spm_sum.log --finallot --pplog 
$DPDATA/data/szft_spm:$DPSCRIPT/fcs_spm_sum_IFF.pl:sum: --ext sum --out /archives-yms/data/szft_spm --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_spm/log/szft_spm_sum.log --finallot --pplog

