#2021-Apr-22  jgarcia : initial
# FET
$DPDATA/data/cpsort_fet:$DPSCRIPT/fcs_fet_cpsort_IFF.pl:%: --out /archives-yms/data/cpsort_fet --facilityfile $DPSCRIPT/facilityMapping.ini --tpdir $DPDATA/data/cpsort_fet/TP --loc CP --config SEPM  --log $DPDATA/data/cpsort_fet/log/cpsort_fet.log --type SINGLE --pplog

