## 08-Apr-2021 JA Garcia - Initial
# NAM
#$DPDATA/data/mesort_wmap_nam:$DPSCRIPT/fcs_nam_IFF.pl:%: --loc ME --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --out /archives-yms/data/mesort_wmap_nam --log $DPDATA/data/mesort_wmap_nam/log/mesort_wmap_nam.log --pplog
#
# SEPROBE
#$DPDATA/data/mesort_wmap_sep:$DPSCRIPT/fcs_se_probe_IFF.pl:%: --out /archives-yms/data/mesort_wmap_sep --site mesort --loc ME --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --log $DPDATA/data/mesort_wmap_sep/log/mesort_wmap_sep.log --pplog
#
# EAGLE
# $DPDATA/data/mesort_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site mesort --loc ME --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --out /archives-yms/data/mesort_eagle --log $DPDATA/data/mesort_eagle/log/mesort_eagle.log --pplog
#
# MCT
# $DPDATA/data/mesort_mct:$DPSCRIPT/fcs_cust_mct_stdf.pl:%: --log $DPDATA/data/mesort_mct/log/mesort_mct_move_tp_file.log
# $DPDATA/data/mesort_mct/TD:$DPSCRIPT/fcs_mct_stdf_IFF.pl:%: --loc ME --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --out /archives-yms/data/mesort_mct --tpDir $DPDATA/data/mesort_mct/TP --log $DPDATA/data/mesort_mct/log/mesort_mct.log --pplog
#
# ADVAN
# $DPDATA/data/mesort_advan:$DPSCRIPT/fcs_stdf_advantest_IFF.pl:%:  --site mesort_advan --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --loc ME --out /archives-yms/data/mesort_advan --log $DPDATA/data/mesort_advan/log/mesort_advan.log --pplog
#
# FET
# $DPDATA/data/mesort_fet:$DPSCRIPT/fcs_fet_stdf_IFF.pl:%: --out /archives-yms/data/mesort_fet --loc ME --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --log $DPDATA/data/mesort_fet/log/mesort_fet.log

