# 12-Apr-2021 jgarcia	: initial

# EAGLE
# $DPDATA/data/meft_eagle:$DPSCRIPT/fcs_cust_meft_eagle.pl:%: --logfile $DPDATA/data/meft_eagle/log/meft_move_file.log
# $DPDATA/data/meft_eagle/FT:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site meft --loc ME --finallot --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/meft_eagle --log $DPDATA/data/meft_eagle/log/meft_eagle.log --pplog

