#09-14-23  GM : Initial release

$DPDATA/data/gtk_tw_sort_mosaic_bk_wmap_nam/inbox/Processed:$DPSCRIPT/fcs_nam_IFF.pl:%: --metastrip --out /archives-yms/data/gtk_tw_sort_mosaic_bk_wmap_nam --site gtk_tw_sort --loc GTK_TW --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --log $DPDATA/data/gtk_tw_sort_mosaic_bk_wmap_nam/log/gtk_tw_sort_mosaic_bk_wmap_nam.log --pplog


