#2021-Apr-22  jgarcia : initial
# MOSTRAK FT
$DPDATA/data/szft_mostrak:$DPSCRIPT/fcs_stdf_mostrak_IFF.pl:%: --out /archives-yms/data/szft_mostrak --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_mostrak/log/szft_mostrak.log --finallot --pplog


