#2021-Apr-24  gllego : initial
###
# ATEC EAGLE
$DPDATA/data/atec_ph_ft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site atec_ph_ft --loc ATEC_PH --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/atec_ph_ft_eagle --logfile $DPDATA/data/atec_ph_ft_eagle/log/atec_ph_ft_eagle.log --pplog
