#2021-May-03  gllego : initial
###
# AMKOR AWW
$DPDATA/data/amkor_tw_ft_wmap_aww:$DPSCRIPT/fcs_aww_IFF.pl:%: --site amkor_tw_ft --loc AMKOR_TW --facilityfile $DPSCRIPT/facilityMapping.ini --config AWW --out /archives-yms/data/amkor_tw_ft_wmap_aww --logfile $DPDATA/data/amkor_tw_ft_wmap_aww/log/amkor_tw_ft_wmap_aww.log --pplog

