# 2021-Apr-08  Karen : Create

## AUTOVISION
$DPDATA/data/szast_autovis:$DPSCRIPT/fcs_autov_IFF.pl:%: --out /archives-yms/data/szast_autovis --temp $DPDATA/data/szast_autovis/temp --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --logfile $DPDATA/data/szast_autovis/log/szast_autovis.log --pplog
