# 25-Mar-2021 JA Garcia - Initial
#
#SORT WMAP SE-Probe
#$DPDATA/data/bksort_wmap_sep:$DPSCRIPT/fcs_se_probe_IFF.pl:%: --metastrip --out /archives-yms/data/bksort_wmap_sep --site bksort --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --log $DPDATA/data/bksort_wmap_sep/log/bksort_wmap_sep.log --pplog
#$DPDATA/data/bksort_wmap_sep:$DPSCRIPT/fcs_se_probe_IFF.pl:%: --metastrip --out /archives-yms/data/bksort_wmap_sep --site bksort --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --log $DPDATA/data/bksort_wmap_sep/log/bksort_wmap_sep.log --pplog
#
#
# SORT WMAP NAM
#$DPDATA/bksort_wmap_nam:$DPSCRIPT/fcs_nam_IFF.pl:%: --out /archives-yms/data/bksort_wmap_nam --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --log $DPDATA/data/bksort_wmap_nam/log/bksort_wmap_nam.log --pplog
#$DPDATA/data/bksort_wmap_nam:$DPSCRIPT/fcs_nam_IFF.pl:%: --out /archives-yms/data/bksort_wmap_nam --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --log $DPDATA/data/bksort_wmap_nam/log/bksort_wmap_nam.log --pplog
