#2021-Apr-24  gllego : initial
###
# ATEC TMT
$DPDATA/data/atec_ph_ft_tmt/LSR_SPD:$DPSCRIPT/fcs_tmt_IFF.pl:SPD: --reffile $DPDATA/data/atec_ph_ft_tmt/TP --movelsr --site atec_ph_ft --finallot --loc ATEC_PH --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/atec_ph_ft_tmt --logfile $DPDATA/data/atec_ph_ft_tmt/log/atec_ph_ft_tmt.log --pplog
