# UTAC MCT
# $DPDATA/data/utac_th_ft_mct:$DPSCRIPT/fcs_cust_mct_stdf.pl:%: --logfile $DPDATA/data/utac_th_ft_mct/log/utac_th_ft_mct_move_file.log
$DPDATA/data/utac_th_ft_mct/TD:$DPSCRIPT/fcs_mct_stdf_IFF.pl:%: --site utac_th_ft --loc UTAC_TH --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/utac_th_ft_mct --tpDir $DPDATA/data/utac_th_ft_mct/TP --logfile $DPDATA/data/utac_th_ft_mct/log/utac_th_ft_mct.log --pplog
