#2021-Apr-19  gllego : initial
# CZ DATA (Characterization)
$DPDATA/data/cz_data:$DPSCRIPT/fcs_cdep_csv_IFF.pl:%: --qde --out /archives-yms/data/cz_data --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/cz_data/log/cz_data.log --finallot --pplog
