# 2021-Apr-08  Karen : Create

# EAGLE FT
$DPDATA/data/szft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site szft --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/szft_eagle --log $DPDATA/data/szft_eagle/log/szft_eagle.log --pplog
#
# MOSTRAK FT
$DPDATA/data/szft_mostrak:$DPSCRIPT/fcs_stdf_mostrak_IFF.pl:%: --out /archives-yms/data/szft_mostrak --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_mostrak/log/szft_mostrak.log --finallot --pplog
#
# SPM / STATEC FT
$DPDATA/data/szft_spm:$DPSCRIPT/fcs_spm_log2_IFF.pl:LOG2: --out /archives-yms/data/szft_spm/LOG2 --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_spm/log/szft_spm_log2.log --finallot --pplog
$DPDATA/data/szft_spm:$DPSCRIPT/fcs_spm_log2_IFF.pl:log2: --out /archives-yms/data/szft_spm/LOG2 --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_spm/log/szft_spm_log2.log --finallot --pplog
$DPDATA/data/szft_spm:$DPSCRIPT/fcs_spm_sum_IFF.pl:SUM: --ext sum --out /archives-yms/data/szft_spm/SUM --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_spm/log/szft_spm_sum.log --finallot
$DPDATA/data/szft_spm:$DPSCRIPT/fcs_spm_sum_IFF.pl:sum: --ext sum --out /archives-yms/data/szft_spm/SUM --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_spm/log/szft_spm_sum.log --finallot
#
# TESEC FT
$DPDATA/data/szft_tesec:$DPSCRIPT/fcs_tesec_dta_ft_IFF.pl:%:  --out /archives-yms/data/szft_tesec --facilityfile $DPSCRIPT/facilityMapping.ini --log $DPDATA/data/szft_tesec/log/szft_tesec.log --loc SZ  --site szft --finallot --pplog
#
# TMT FT
$DPDATA/data/szft_tmt/LSR_SPD:$DPSCRIPT/fcs_tmt_IFF.pl:SPD: --movelsr --site szft_tmt --finallot --loc SZ --reffile $DPDATA/data/szft_tmt/TP --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/szft_tmt/LSR_SPD --log $DPDATA/data/szft_tmt/log/szft_tmt.log --pplog
#
# SHIBA FT
$DPDATA/data/szft_shiba:$DPSCRIPT/fcs_shiba_ft_IFF.pl:%:  --binreffile $DPDATA/data/szft_shiba/TP --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/szft_shiba --loc SZ --finallot --logfile $DPDATA/data/szft_shiba/log/szft_shiba.log --pplog
#
# ISO
$DPDATA/data/szft_iso:$DPSCRIPT/fcs_iso_log_IFF.pl:%: --out /archives-yms/data/szft_iso --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_iso/log/szft_iso.log --finallot --pplog
#
# POWERTECH
$DPDATA/data/szft_ptech:$DPSCRIPT/fcs_powertech_stdf_IFF.pl:STDF: --out /archives-yms/data/szft_ptech --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_ptech/log/szft_ptech.log --finallot -pplog
$DPDATA/data/szft_ptech:$DPSCRIPT/fcs_sz_ptec_xls_IFF.pl:XLS: --out /archives-yms/data/szft_ptech --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_ptech/log/szft_ptech.log --finallot -pplog
#
# CZ DATA (Characterization)
$DPDATA/data/cz_data:$DPSCRIPT/fcs_cdep_csv_IFF.pl:%: --qde --out /archives-yms/data/cz_data --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/cz_data/log/cz_data.log --finallot --pplog


