# 2021-Apr-21   Karen	: Create

$DPDATA/data/bkfb_rs75:$DPSCRIPT/fcs_rs75_csv_IFF.pl:%: --out /archives-yms/data/bkfb_rs75 --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --xyref $DPSCRIPT/rs75/xy_coordinates.ref --logfile $DPDATA/data/bkfb_rs75/log/bkfb_rs75.log --pplog
