#2021-Apr-23  gllego : initial
###
# ASENT BSTDF
$DPDATA/data/asent_tw_ft_bstdf:$DPSCRIPT/fcs_bstdf_IFF.pl:%: --out /archives-yms/data/asent_tw_ft_bstdf --finallot --loc ASENT_TW --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/asent_tw_ft_bstdf/log/asent_tw_ft_bstdf.log --pplog

