#2021-Apr-24  gllego : initial
###
# GEM QTEC
# $DPDATA/data/gem_cn_ft_qtec:$DPSCRIPT/fcs_cust_qtec_gem_cn_ft.pl:%: --logfile $DPDATA/data/gem_cn_ft_qtec/log/gem_cn_ft_qtec_move.log
# $DPDATA/data/gem_cn_ft_qtec/XLS:$DPSCRIPT/fcs_powertech_xls.pl:%: --out /archives-yms/data/gem_cn_ft_qtec --loc GEM_CN --facilityfile $DPSCRIPT/facilityMapping.ini --site GEM_CN_FT_QTEC --finallot --logfile $DPDATA/data/gem_cn_ft_qtec/log/gem_cn_ft_qtec.xls.log --tpdir $DPDATA/data/gem_cn_ft_qtec/PTX --pplog --notify
# $DPDATA/data/gem_cn_ft_qtec/TXT:$DPSCRIPT/fcs_pt_txt_IFF.pl:%: --out /archives-yms/data/gem_cn_ft_qtec --loc GEM_CN --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --logfile $DPDATA/data/gem_cn_ft_qtec/log/gem_cn_ft_qtec.txt.log --pplog
