
# AUTOVISION
# $DPDATA/data/cpast_autovis:$DPSCRIPT/fcs_autov_IFF.pl:%: --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --temp $DPDATA/data/cpast_autovis/temp  --out /archives-yms/data/cpast_autovis  --logfile $DPDATA/data/cpast_autovis/log/cpast_autovis.log --pplog
#
# DOUYEE
# $DPDATA/data/cpast_pbf_douyee:$DPSCRIPT/fcs_douyee_IFF.pl:%: --out /archives-yms/data/cpast_pbf_douyee --facilityfile $DPSCRIPT/facilityMapping.ini --log $DPDATA/data/cpast_pbf_douyee/log/cpast_pbf_douyee.log --loc CP --finallot --pplog
#
# SRM
# $DPDATA/data/cpast_tar_srm:$DPSCRIPT/fcs_srm_IFF.pl:%: --out /archives-yms/data/cpast_tar_srm --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --log $DPDATA/data/cpast_tar_srm/log/cpast_tar_srm.log --finallot --pplog
