$DPDATA/data/szpreast_camstar:$DPSCRIPT/fcs_camstar_eqp_event.pl:EqpEvent: -outdir /archives-yms/data/szpreast_camstar/STAGING -logfile $DPDATA/data/szpreast_camstar/log/fcs_camstar_eqp_event.pl.log
#