##2021-Apr-08  gllego : initial
###
# GTK AWW WMAP
# $DPDATA/data/gtk_tw_sort_wmap_aww:$DPSCRIPT/fcs_aww_IFF.pl:%: --site gtk_tw_sort --loc GTK_TW --facilityfile $DPSCRIPT/facilityMapping.ini --config AWW --out /archives-yms/data/gtk_tw_sort_wmap_aww --log $DPDATA/data/gtk_tw_sort_wmap_aww/log/gtk_tw_sort_wmap_aww.log --nolookup --pplog
#
# GTK WMAP NAM
# $DPDATA/data/gtk_tw_sort_wmap_nam:$DPSCRIPT/fcs_nam_IFF.pl:%: --out /archives-yms/data/gtk_tw_sort_wmap_nam --loc GTK_TW --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --type DPAT --log $DPDATA/data/gtk_tw_sort_wmap_nam/log/gtk_tw_sort_wmap_nam.log --pplog
#
# ISTI ASC WMAP
# $DPDATA/data/isti_tw_csp_wmap_asc:$DPSCRIPT/fcs_asc_csp_IFF.pl:%: --out /archives-yms/data/isti_tw_csp_wmap_asc --loc ISTI_TW --facilityfile $DPSCRIPT/facilityMapping.ini --config ASC --metastrip --log $DPDATA/data/isti_tw_csp_wmap_asc/log/isti_tw_csp_wmap_asc.log --pplog
#
# AMKOR KR AWW WMAP
# $DPDATA/data/amkor_kr_csp_wmap_aww:$DPSCRIPT/fcs_aww_IFF.pl:%: --site amkor_kr_csp --loc AMKOR_KR --facilityfile $DPSCRIPT/facilityMapping.ini --config AWW --out /archives-yms/data/amkor_kr_csp_wmap_aww --log $DPDATA/data/amkor_kr_csp_wmap_aww/log/amkor_kr_csp_wmap_aww.log --pplog
#
# AMKOR ADVAN
# $DPDATA/data/amkor_tw_csp_advan:$DPSCRIPT/fcs_stdf_advantest_IFF.pl:%: --site amkor_tw_csp --config AWW --loc AMKOR_TW --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/amkor_tw_csp_advan --log $DPDATA/data/amkor_tw_csp_advan/log/amkor_tw_csp_advan.log --pplog
#
# AMKOR EAGLE
# $DPDATA/data/amkor_tw_csp_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site amkor_tw_csp --loc AMKOR_TW --facilityfile $DPSCRIPT/facilityMapping.ini --config AWW --out /archives-yms/data/amkor_tw_csp_eagle --log $DPDATA/data/amkor_tw_csp_eagle/log/amkor_tw_csp_eagle.log --pplog
#
# GTK EAGLE
#$DPDATA/data/gtk_tw_sort_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site gtk_tw_sort --loc GTK_TW --facilityfile $DPSCRIPT/facilityMapping.ini --config AWW --out /archives-yms/data/gtk_tw_sort_eagle --log $DPDATA/data/gtk_tw_sort_eagle/log/gtk_tw_sort_eagle.log --nolookup --pplog
#
# ISTI EAGLE
# $DPDATA/data/isti_tw_csp_eagle:$DPSCRIPT/fcs_cust_isti_tw_csp_eagle.pl:%: --log $DPDATA/data/isti_tw_csp_eagle/log/isti_tw_csp_eagle_move_file.log
# $DPDATA/data/isti_tw_csp_eagle/ets_log:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site isti_tw_csp --loc ISTI_TW --facilityfile $DPSCRIPT/facilityMapping.ini --config ASC --out /archives-yms/data/isti_tw_csp_eagle --log $DPDATA/data/isti_tw_csp_eagle/log/isti_tw_csp_eagle_log.log --pplog
# $DPDATA/data/isti_tw_csp_eagle/ets_stdf:$DPSCRIPT/fcs_stdf_eagle_IFF.pl:%: --site isti_tw_csp --loc ISTI_TW --facilityfile $DPSCRIPT/facilityMapping.ini --config ASC --out /archives-yms/data/isti_tw_csp_eagle --log $DPDATA/data/isti_tw_csp_eagle/log/isti_tw_csp_eagle_stdf.log --pplog
#
# ISTI TMT
# $DPDATA/data/isti_tw_sort_tmt:$DPSCRIPT/fcs_stdf_tmt_IFF.pl:%: --out /archives-yms/data/isti_tw_sort_tmt --loc ISTI_TW --facilityfile $DPSCRIPT/facilityMapping.ini --metastrip --config ASC --logfile $DPDATA/data/isti_tw_sort_tmt/log/isti_tw_sort_tmt.log --pplog
#
# SILAN WMAP NAM
# $DPDATA/data/silan_cn_sort_wmap_nam:$DPSCRIPT/fcs_nam_IFF.pl:%: --out /archives-yms/data/silan_cn_sort_wmap_nam --loc SILAN_CN --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --log $DPDATA/data/silan_cn_sort_wmap_nam/log/silan_cn_sort_wmap_nam.log --pplog --nosandbox
#
# SILAN DPAT WMAP
# $DPDATA/data/silan_cn_sort_dpat_nam:$DPSCRIPT/fcs_nam_IFF.pl:%: --out /archives-yms/data/silan_cn_sort_dpat_nam --loc SILAN_CN --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --type DPAT --log $DPDATA/data/silan_cn_sort_dpat_nam/log/silan_cn_sort_dpat_nam.log --pplog --nosandbox
#
# SILAN BSTDF
# $DPDATA/data/silan_cn_sort_bstdf:$DPSCRIPT/fcs_bstdf_IFF.pl:%: --out /archives-yms/data/silan_cn_sort_bstdf --loc SILAN_CN --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --logfile $DPDATA/data/silan_cn_sort_bstdf/log/silan_cn_sort_bstdf.cfg.log --pplog --nosandbox
#
# SILAN STDF
#$DPDATA/data/silan_cn_sort_cta:$DPSCRIPT/fcs_stdf_cta_IFF.pl:%: --out /archives-yms/data/silan_cn_sort_cta --loc SILAN_CN --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --logfile $DPDATA/data/silan_cn_sort_cta/log/silan_cn_sort_cta.log --pplog --nosandbox
#
# KYEC SPEA
#$DPDATA/data/kyec_tw_sort_spea:$DPSCRIPT/fcs_stdf4_IFF.pl:%: --out /archives-yms/data/kyec_tw_sort_spea --loc KYEC_TW --facilityfile $DPSCRIPT/facilityMapping.ini --tester SPEA --config SEPM --product MEMS --logfile $DPDATA/data/kyec_tw_sort_spea/log/kyec_tw_sort_spea.log --pplog
#
# KYEC WMAP SEP
#$DPDATA/data/kyec_tw_sort_wmap_sep:$DPSCRIPT/fcs_se_probe_IFF.pl:%: --out /archives-yms/data/kyec_tw_sort_wmap_sep --site kyec_tw_sort --loc KYEC_TW --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --log $DPDATA/data/kyec_tw_sort_wmap_sep/log/kyec_tw_sort_wmap_sep.log --pplog
#
# KYEC WMAP SINF
#$DPDATA/data/kyec_tw_sort_wmap_sinf:$DPSCRIPT/fcs_sinf_IFF.pl:%: --out /archives-yms/data/kyec_tw_sort_wmap_sinf --LOC KYEC_TW --facilityfile $DPSCRIPT/facilityMapping.ini --CONFIG SINF --logfile $DPDATA/data/kyec_tw_sort_wmap_sinf/log/fcs_sinf_IFF.pl.log --pplog
#
# PHENITEC JP
# $DPDATA/data/phenitec_jp_sort_tesec:$DPSCRIPT/fcs_phenitec_tesec_csv_IFF.pl:%: --out /archives-yms/data/phenitec_jp_sort_tesec --loc PHENITEC_JP --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --logfile $DPDATA/data/phenitec_jp_sort_tesec/log/phenitec_jp_sort_tesec.log --pplog --nosandbox
#
# KYEC KYEC-E320
#$DPDATA/data/kyec_tw_sort_kyec:$DPSCRIPT/fcs_stdf4_IFF.pl:%: --out /archives-yms/data/kyec_tw_sort_kyec --loc KYEC_TW --facilityfile $DPSCRIPT/facilityMapping.ini --tester KYEC --config SINF --product MEMS --logfile $DPDATA/data/kyec_tw_sort_kyec/log/kyec_tw_sort_kyec.log --pplog
#
# HUATIAN CN SORT NAM
# $DPDATA/data/huatian_cn_sort_wmap_nam:$DPSCRIPT/fcs_nam_IFF.pl:%: --out /archives-yms/data/huatian_cn_sort_wmap_nam --loc HUATIAN --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --log $DPDATA/data/huatian_cn_sort_wmap_nam/log/huatian_cn_sort_wmap_nam.log --pplog
#
#HUATIAN CN SORT T2K
# $DPDATA/data/huatian_cn_sort_t2k:$DPSCRIPT/fcs_stdf_advantest_IFF.pl:%: --site huatian_cn_sort --config NAM --loc HUATIAN --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/huatian_cn_sort_t2k --log $DPDATA/data/huatian_cn_sort_t2k/log/huatian_cn_sort_t2k.log --pplog

# ISIT TW SORT MOSAIC BK EAGLE
#$DPDATA/data/isti_tw_sort_mosaic_bk_eagle:/export/home/dpower/jag/CE-1553/scripts/fcs_eagle_log_IFF.pl:%: --out /archives-yms/data/isti_tw_sort_mosaic_bk_eagle --site isti_tw_sort_mosaic_bk --loc ISTI_TW --facilityfile $DPSCRIPT/facilityMapping.ini --config ASC --logfile $DPDATA/data/isti_tw_sort_mosaic_bk_eagle/log/isti_tw_sort_mosaic_bk_eagle.log 
#$DPDATA/data/isti_tw_sort_mosaic_bk_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --out /archives-yms/data/isti_tw_sort_mosaic_bk_eagle --loc ISTI_TW_SORT_MOSAIC_BK --facilityfile $DPSCRIPT/facilityMapping.ini --metastrip --config ASC --logfile $DPDATA/data/isti_tw_sort_mosaic_bk_eagle/log/isti_tw_sort_mosaic_bk_eagle.log --pplog
