#Custom script for cpft_statec
# 2024-Apr-30 - jgarcia - moved out from fcs_pp_cp_ft.cfg

$DPDATA/data/cpft_statec:$DPSCRIPT/fcs_cust_statec.pl:%: --logfile $DPDATA/data/cpft_statec/log/cpft_statec_move.log