#2021-Apr-22  jgarcia : initial
# EAGLE FT
$DPDATA/data/szft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site szft --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/szft_eagle --log $DPDATA/data/szft_eagle/log/szft_eagle.log --pplog


