#2021-Apr-08  jgarcia : initial
# BSTDF
# $DPDATA/data/bksort_bstdf:$DPSCRIPT/fcs_bstdf_IFF.pl:%: --metastrip --out /archives-yms/data/bksort_bstdf --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --logfile $DPDATA/data/bksort_bstdf/log/bksort_bstdf.log --pplog

# EAGLE
# $DPDATA/data/bksort_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --metastrip --site bksort --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --out /archives-yms/data/bksort_eagle --log $DPDATA/data/bksort_eagle/log/bksort_eagle.log --pplog
#
# TMT
# $DPDATA/data/bksort_tmt:$DPSCRIPT/fcs_stdf_tmt_IFF.pl:%: --metastrip --out /archives-yms/data/bksort_tmt --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --logfile $DPDATA/data/bksort_tmt/log/bksort_tmt.log --pplog
#
# ITCLCR
# $DPDATA/data/bksort_itclcr:$DPSCRIPT/fcs_itclcr_log_IFF.pl:%: --metastrip --site bksort --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --out /archives-yms/data/bksort_itclcr --log $DPDATA/data/bksort_itclcr/log/bksort_itclcr.log --pplog


