# $REFERENCE_DATA_DIR:$DPSCRIPT/fcs_metaLoader.pl:lot: --table pp_lot --logfile $DPLOG/fcs_metaLoader_pplot.log:

#$REFERENCE_DATA_DIR/gen_stage:$DPSCRIPT/fcs_metaLoader.pl:meslot:  --table pp_lot --update_existing --logfile $DPLOG/fcs_metaLoader_pplot.mes.log:

# $REFERENCE_DATA_DIR:$DPSCRIPT/fcs_metaLoader.pl:flot:  --table pp_finallot --update_existing --logfile $DPLOG/fcs_metaLoader_ppfinallot.flot.log

# $REFERENCE_DATA_DIR:$DPSCRIPT/fcs_metaLoader.pl:class: --table pp_lotclass --update_existing --logfile $DPLOG/fcs_metaLoader_pplotclass.log:

# $REFERENCE_DATA_DIR:$DPSCRIPT/fcs_metaLoader.pl:prod: --table pp_prod --update_existing --logfile $DPLOG/fcs_metaLoader_ppprod.log:

# $REFERENCE_DATA_DIR/gen_stage:$DPSCRIPT/fcs_metaLoader.pl:mesflot: --table pp_finallot --logfile $DPLOG/fcs_metaLoader_ppfinallot_mesflot.log:

# $REFERENCE_DATA_DIR:$DPSCRIPT/fcs_metaLoader.pl:subconFlot:  --table pp_finallot --logfile $DPLOG/fcs_metaLoader_ppfinallot_subconFlot.log:

# $REFERENCE_DATA_DIR:$DPSCRIPT/fcs_metaLoader.pl:subconLot: --table pp_lot --logfile $DPLOG/fcs_metaLoader_pplot_subconLot.log:

# $REFERENCE_DATA_DIR/gen_stage:$DPSCRIPT/fcs_metaLoader.pl:castSplitFlot: --table pp_finallot --update_existing --logfile $DPLOG/fcs_metaLoader_ppfinallot_castSplitFlot.log:

# $REFERENCE_DATA_DIR:$DPSCRIPT/fcs_metaLoader.pl:slice: --table on_slice --logfile $DPLOG/fcs_metaLoader_on_slice.log:
