# 16-Apr-2021 Eric	initial release
#
# BKFB8
$DPDATA/data/bkfb8_wks:$DPSCRIPT/fcs_wkstrm.pl:ZIP: -fmtdir $DPSCRIPT/workstream/BUCHEON_WKS_BCP_FMT -out /archives-yms/data/bkfb8_wks/STAGING -facilityfile $DPSCRIPT/facilityMapping.ini -logfile $DPDATA/data/bkfb8_wks/log/bkfb8_wks.log -loc BK -fab8
$DPDATA/data/bkfb8_wks:$DPSCRIPT/fcs_wkstrm.pl:zip: -fmtdir $DPSCRIPT/workstream/BUCHEON_WKS_BCP_FMT -out /archives-yms/data/bkfb8_wks/STAGING -facilityfile $DPSCRIPT/facilityMapping.ini -logfile $DPDATA/data/bkfb8_wks/log/bkfb8_wks.log -loc BK -fab8
