#
# SILTRONICS
$DPDATA/data/silt_us_sub:$DPSCRIPT/fcs_cust_silt_us_sub.pl:%: --logfile $DPDATA/data/silt_us_sub/log/silt_move_file.log
$DPDATA/data/silt_us_sub/XLS:$DPSCRIPT/fcs_cofc_xls_IFF.pl:%: --out /archives-yms/data/silt_us_sub -LOC SILT_US --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/silt_us_sub/log/silt_us_sub.log --pplog
$DPDATA/data/silt_us_sub/XLSX:$DPSCRIPT/fcs_cofc_xlsx_IFF.pl:%: --out /archives-yms/data/silt_us_sub -LOC SILT_US --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/silt_us_sub/log/silt_us_sub.log --pplog
