# 11-Dec-2023 JA Garcia - isolated to its own cfg file
#
#SORT WMAP SE-Probe
$DPDATA/data/bksort_wmap_sep:$DPSCRIPT/fcs_se_probe_IFF.pl:%: --metastrip --out /archives-yms/data/bksort_wmap_sep --site bksort --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --log $DPDATA/data/bksort_wmap_sep/log/bksort_wmap_sep.log --pplog

