#2021-Apr-26  gllego : initial
#2025-Sep-26  gllego : added feature to unzip .Zip filenames
###
# GTK TMT
$DPDATA/data/gtk_tw_ft_tmt:$DPSCRIPT/fcs_unzip.pl:ZIP: -outdir $DPDATA/data/gtk_tw_ft_tmt/LSR_SPD -logfile $DPDATA/data/gtk_tw_ft_tmt/log/gtk_tw_ft_tmt.log -touch
$DPDATA/data/gtk_tw_ft_tmt/LSR_SPD:$DPSCRIPT/fcs_tmt_IFF.pl:SPD: --reffile $DPDATA/data/gtk_tw_ft_tmt/TP --movelsr --site gtk_tw_ft --finallot --loc GTK_TW --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/gtk_tw_ft_tmt --logfile $DPDATA/data/gtk_tw_ft_tmt/log/gtk_tw_ft_tmt.log --pplog
