#09-14-23  GM : Initial release

$DPDATA/data/gtk_tw_sort_mosaic_bk_wmap_nam/inbox:$DPSCRIPT/fcs_metadataVerifier.pl:%: --out $DPDATA/data/gtk_tw_sort_mosaic_bk_wmap_nam --env gtk_tw_sort_mosaic_bk_wmap_nam --fileage 1 --logfile $DPDATA/data/gtk_tw_sort_mosaic_bk_wmap_nam/log/gtk_tw_sort_mosaic_bk_wmap_nam_metadata_verifier.log --pplog


