# 05-Jan-2023 JA Garcia - Initial
$DPDATA/data/cpcsp_wmap_nam/inbox:$DPSCRIPT/fcs_metadataVerifier.pl:%: --out $DPDATA/data/cpcsp_wmap_nam --env cpcsp_wmap_nam --fileage 1 --logfile $DPDATA/data/cpcsp_wmap_nam/log/fcs_metadataVerifier_cpcsp_wmap_nam.log --pplog
