## 05-Aug-2022 JA Garcia - Initial
# EAGLE
$DPDATA/data/mtsort_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site mtsort --loc MT --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --out /archives-yms/data/mtsort_eagle --log $DPDATA/data/mtsort_eagle/log/mtsort_eagle.log --pplog
