#2021-Apr-19  gllego : initial
#
# ACCUTEST
#$DPDATA/data/caet_hp:$DPSCRIPT/fcs_cust_caet_hp.pl:%: --logfile $DPDATA/data/caet_hp/log/move_file.log
#$DPDATA/data/caet_hp/ACCU:$DPSCRIPT/fcs_accueol_IFF.pl:%: --site caet --type Process --out /archives-yms/data/caet_hp/ACCU/Prg_Process --limitDir $DPDATA/data/caet_hp/TP --loc CA --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/caet_hp/log/caet_hp.log --pplog
#$DPDATA/data/caet_hp/ACCU/Processed:$DPSCRIPT/fcs_accueol_IFF.pl:%: --site caet --type Product --out /archives-yms/data/caet_hp/ACCU/Prg_Product --limitDir $DPDATA/data/caet_hp/TP --loc CA --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/caet_hp/log/caet_hp.log --pplog

