#2021-Apr-22  jgarcia : initial
# ISO
$DPDATA/data/szft_iso:$DPSCRIPT/fcs_iso_log_IFF.pl:%: --out /archives-yms/data/szft_iso --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_iso/log/szft_iso.log --finallot --pplog


