#2021-Apr-23  gllego : initial
###
# ATEC MCT
# $DPDATA/data/atec_ph_ft_mct:$DPSCRIPT/fcs_cust_mct_stdf.pl:%: --logfile $DPDATA/data/atec_ph_ft_mct/log/atec_ph_ft_mct_move_tp_file.log
$DPDATA/data/atec_ph_ft_mct/TD:$DPSCRIPT/fcs_mct_stdf_IFF.pl:%: --site atec_ph_ft --out /archives-yms/data/atec_ph_ft_mct --loc ATEC_PH --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/atec_ph_ft_mct/log/atec_ph_ft_mct.log --tpDir $DPDATA/data/atec_ph_ft_mct/TP --finallot --pplog
