## 07-Apr-2021 JA Garcia - Initial
#
# SZ
$DPDATA/data/mtsort_wmap_sz:$DPSCRIPT/fcs_sz_csp_IFF.pl:%: --out /archives-yms/data/mtsort_wmap_sz --loc MT --facilityfile $DPSCRIPT/facilityMapping.ini --config SZ --logfile $DPDATA/data/mtsort_wmap_sz/log/mtsort_wmap_sz.log --pplog
#
