#03-Mar-2021 - jgarcia - initial
#
# SEPROBE
$DPDATA/data/cpsort_wmap_sep/inbox/Processed:$DPSCRIPT/fcs_se_probe_IFF.pl:%: --out /archives-yms/data/cpsort_wmap_sep --loc CP --site cpsort --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --log /$DPDATA/data/cpsort_wmap_sep/log/cpsort_wmap_sep.log --pplog
