##2021-Apr-15  gllego : initial
#
# REEDHOLM
#$DPDATA/data/stet_rdhm:$DPSCRIPT/fcs_st_rh_csv_IFF.pl:%: --out /archives-yms/data/stet_rdhm/Prg_Process --loc ST --facilityfile $DPSCRIPT/facilityMapping.ini --type Process --et --log $DPDATA/data/stet_rdhm/log/stet_rdhm.log --pplog
#$DPDATA/data/stet_rdhm/Processed:$DPSCRIPT/fcs_st_rh_csv_IFF.pl:%: --out /archives-yms/data/stet_rdhm/Prg_Product --loc ST --facilityfile $DPSCRIPT/facilityMapping.ini --type Product --et --log $DPDATA/data/stet_rdhm/log/stet_rdhm.log --pplog
