#2021-Apr-22  jgarcia : initial
# FET QUAD
$DPDATA/data/cpsort_fet_quad:$DPSCRIPT/fcs_fet_cpsort_IFF.pl:%: --out  /archives-yms/data/cpsort_fet_quad --facilityfile $DPSCRIPT/facilityMapping.ini --tpdir $DPDATA/data/cpsort_fet_quad/TP --loc CP --config SEPM  --log $DPDATA/data/cpsort_fet_quad/log/cpsort_fet_quad.log --type QUAD --pplog

