## 07-Apr-2021 JA Garcia - Initial
#
# NAM
#$DPDATA/data/mtsort_wmap_nam:$DPSCRIPT/fcs_nam_IFF.pl:%: --loc MT --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --out /archives-yms/data/mtsort_wmap_nam --log $DPDATA/data/mtsort_wmap_nam/log/mtsort_wmap_nam.log --pplog
#
# SEPROBE
#$DPDATA/data/mtsort_wmap_sep:$DPSCRIPT/fcs_se_probe_IFF.pl:%: --out /archives-yms/data/mtsort_wmap_sep  --site mtsort --loc MT --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --log $DPDATA/data/mtsort_wmap_sep/log/mtsort_wmap_sep.log --pplog
#
# SZ
#$DPDATA/data/mtsort_wmap_sz:$DPSCRIPT/fcs_sz_csp_IFF.pl:%: --out /archives-yms/data/mtsort_wmap_sz --loc MT --facilityfile $DPSCRIPT/facilityMapping.ini --config SZ --logfile $DPDATA/data/mtsort_wmap_sz/log/mtsort_wmap_sz.log --pplog
#
# EAGLE
#$DPDATA/data/mtsort_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site mtsort --loc MT --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --out /archives-yms/data/mtsort_eagle --log $DPDATA/data/mtsort_eagle/log/mtsort_eagle.log --pplog
#
# SZ
#$DPDATA/data/mtsort_sz:$DPSCRIPT/fcs_cust_mtsort_sz.pl:%: --logfile $DPDATA/data/mtsort_sz/log/mtsort_sz_move_file.log
#$DPDATA/data/mtsort_sz/STDFV3:$DPSCRIPT/fcs_stdfv3_szsort_IFF.pl:%: --out /archives-yms/data/mtsort_sz --facilityfile $DPSCRIPT/facilityMapping.ini --loc MT --config SZ --tpDir $DPDATA/data/mtsort_sz/TP --logfile $DPDATA/data/mtsort_sz/log/mtsort_sz_STDFV3.log --pplog
#$DPDATA/data/mtsort_sz/STDFV4:$DPSCRIPT/fcs_stdfv4_szsort_IFF.pl:%: --out /archives-yms/data/mtsort_sz --facilityfile $DPSCRIPT/facilityMapping.ini --loc MT --config SEPM --logfile $DPDATA/data/mtsort_sz/log/mtsort_sz_STDFV4.log --pplog
#
# TESEC
#$DPDATA/data/mtsort_tesec:$DPSCRIPT/fcs_cust_mtsort_tesec.pl:%: --logfile $DPDATA/data/mtsort_tesec/log/mtsort_tesec_move_file.log
#$DPDATA/data/mtsort_tesec/DTA:$DPSCRIPT/fcs_tesec_dta_sort_IFF.pl:%: --out /archives-yms/data/mtsort_tesec/DTA --loc MT --site mtsort --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --log $DPDATA/data/mtsort_tesec/log/mtsort_tesec.log --pplog
