## 07-Apr-2021 JA Garcia - Initial
#
#
# SEPROBE
$DPDATA/data/mtsort_wmap_sep:$DPSCRIPT/fcs_se_probe_IFF.pl:%: --out /archives-yms/data/mtsort_wmap_sep  --site mtsort --loc MT --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --log $DPDATA/data/mtsort_wmap_sep/log/mtsort_wmap_sep.log --pplog
