# 12-Apr-2021 jgarcia	: initial

#
# $DPDATA/data/merel_eagle/REL:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site merel --qde --loc ME --rellot --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/merel_eagle --log $DPDATA/data/merel_eagle/log/merel_eagle.log --pplog
# #
# ADVAN REL
# $DPDATA/data/merel_advan:$DPSCRIPT/fcs_stdf_advantest_IFF.pl:%: --rellot --site merel_advan --qde --loc ME --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/merel_advan --log $DPDATA/data/merel_advan/log/merel_advan.log --pplog
#
# MCT REL
# $DPDATA/data/merel_mct:$DPSCRIPT/fcs_cust_mct_stdf.pl:%: --log /data/merel_mct/log/merel_mct_move_file.log
# $DPDATA/data/merel_mct/TD:$DPSCRIPT/fcs_mct_stdf_IFF.pl:%: --loc ME --rellot --out /archives-yms/data/merel_mct --tpDir $DPDATA/data/merel_mct/TP --log $DPDATA/data/merel_mct/log/merel_mct.log --pplog
