#2021-Apr-22  jgarcia : initial
# ITCLCR
$DPDATA/data/bksort_itclcr:$DPSCRIPT/fcs_itclcr_log_IFF.pl:%: --metastrip --site bksort --loc BK --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --out /archives-yms/data/bksort_itclcr --log $DPDATA/data/bksort_itclcr/log/bksort_itclcr.log --pplog


