# 05-Jan-2023 JA Garcia - Initial
$DPDATA/data/cpsort_wmap_sep/inbox:$DPSCRIPT/fcs_metadataVerifier.pl:%: --out $DPDATA/data/cpsort_wmap_sep --env cpsort_wmap_sep --fileage 1 --logfile $DPDATA/data/cpsort_wmap_sep/log/fcs_metadataVerifier_cpsort_wmap_sep.log --pplog
