#2021-Apr-26  gllego : initial
###
# ASE MY FT  
$DPDATA/data/ase_my_ft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site aseft --loc ASE_MY --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/ase_my_ft_eagle --logfile $DPDATA/data/ase_my_ft_eagle/log/ase_my_ft_eagle.log --pplog

