#2021-Apr-08  jgarcia : initial
#
# EAGLE REL
# $DPDATA/data/szrel_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site szrel --facilityfile $DPSCRIPT/facilityMapping.ini --loc SZ --rellot --qde --out /archives-yms/data/szrel_eagle --log $DPDATA/data/szrel_eagle/log/szrel_eagle.log --pplog
#
# MOSTRAK REL
# $DPDATA/data/szrel_mostrak:$DPSCRIPT/fcs_stdf_mostrak_IFF.pl:%: --out /archives-yms/data/szrel_mostrak --facilityfile $DPSCRIPT/facilityMapping.ini  --loc SZ --rellot --logfile $DPDATA/data/szrel_mostrak/log/szrel_mostrak.log --pplog
#
# # SPM /STATEC REL
# $DPDATA/data/szrel_spm:$DPSCRIPT/fcs_spm_log2_IFF.pl:LOG2: --qde --out /archives-yms/data/szrel_spm --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szrel_spm/log/fcs_spm_log2_IFF.pl.log --rellot --loc SZ --pplog
# $DPDATA/data/szrel_spm:$DPSCRIPT/fcs_spm_sum_IFF.pl:SUM: --qde --ext sum --out /archives-yms/data/szrel_spm --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szrel_spm/log/fcs_spm_sum.pl.log --rellot --loc SZ
#
# TESEC REL
#/data/szrel_tesec:$DPSCRIPT/fcs_tesec_dta_ft_IFF.pl:%:  --out /data/szrel_tesec/stage --log /data/szrel_tesec/log/szrel_tesec.log --loc SZ  --site szrel --rellot --pplog
#
# # SHIBA REL
# $DPDATA/data/szrel_shiba:$DPSCRIPT/fcs_shiba_ft_IFF.pl:%: --out /archives-yms/data/szrel_shiba --loc SZ --rellot --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szrel_shiba/log/szrel_shiba.log --pplog
