## 05-Aug-2022 JA Garcia - Initial
# TESEC
$DPDATA/data/mtsort_tesec:$DPSCRIPT/fcs_cust_mtsort_tesec.pl:%: --logfile $DPDATA/data/mtsort_tesec/log/mtsort_tesec_move_file.log
$DPDATA/data/mtsort_tesec/DTA:$DPSCRIPT/fcs_tesec_dta_sort_IFF.pl:%: --out /archives-yms/data/mtsort_tesec/DTA --loc MT --site mtsort --facilityfile $DPSCRIPT/facilityMapping.ini --config NAM --log $DPDATA/data/mtsort_tesec/log/mtsort_tesec.log --pplog
