#2021-Apr-24  gllego : initial
###
# ATEC STATEC
# $DPDATA/data/atec_ph_ft_statec:$DPSCRIPT/fcs_cust_statec.pl:%: --logfile $DPDATA/data/atec_ph_ft_statec/log/atec_ph_ft_statec_move.log
# $DPDATA/data/atec_ph_ft_statec/LOG2:$DPSCRIPT/fcs_statec_log2.pl:%: --out /archives-yms/data/atec_ph_ft_statec --loc ATEC_PH --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/atec_ph_ft_statec/log/atec_ph_ft_statec_log2.log --finallot --site atec_ph_ft --pplog
# $DPDATA/data/atec_ph_ft_statec/SUM:$DPSCRIPT/fcs_statec_sum.pl:%: --out /archives-yms/data/atec_ph_ft_statec --loc ATEC_PH --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/atec_ph_ft_statec/log/atec_ph_ft_statec_sum.log --finallot --site atec_ph_ft --pplog
