#2021-Apr-26  gllego : initial
###
# HANA_TH TMT
$DPDATA/data/hana_th_ft_tmt/LSR_SPD:$DPSCRIPT/fcs_tmt_IFF.pl:SPD: --reffile $DPDATA/data/hana_th_ft_tmt/TP --movelsr --site hana_th_ft --finallot --loc HANA_TH --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/hana_th_ft_tmt --logfile $DPDATA/data/hana_th_ft_tmt/log/hana_th_ft_tmt.log --pplog
