# SHIBA REL
$DPDATA/data/szrel_shiba:$DPSCRIPT/fcs_shiba_ft_IFF.pl:%: --out /archives-yms/data/szrel_shiba --loc SZ --rellot --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szrel_shiba/log/szrel_shiba.log --pplog
