#2021-Apr-12  gllego : initial

# GTK AUTOVISION
$DPDATA/data/gtk_tw_ast_autovis:$DPSCRIPT/fcs_autov_IFF.pl:%: --loc GTK_TW --facilityfile $DPSCRIPT/facilityMapping.ini --site gtk_tw_ast --finallot --out /archives-yms/data/gtk_tw_ast_autovis --temp $DPDATA/data/gtk_tw_ast_autovis/temp --logfile $DPDATA/data/gtk_tw_ast_autovis/log/gtk_tw_ast_autovis.log --pplog
#
# HANA_TH TESEC SMAP
#$DPDATA/data/hana_th_ast_smap:$DPSCRIPT/fcs_smap_tesec_IFF.pl:%: --out /archives-yms/data/hana_th_ast_smap --loc HANA_TH --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/hana_th_ast_smap/log/hana_th_ast_smap.log --finallot --pplog
