# FET - cpft
# 2024-Apr-30 - jgarcia - moved out from fcs_pp_cp_ft.cfg
$DPDATA/data/cpft_fet:$DPSCRIPT/fcs_fet_ft_IFF.pl:DAT: --out /archives-yms/data/cpft_fet --tpDir $DPDATA/data/cpft_fet/TP --TYPE FT --loc CP --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --log $DPDATA/data/cpft_fet/log/cpft_fet.log --pplog