##2021-Apr-15  gllego : initial
#
# REEDHOLM
#$DPDATA/data/stsort_rdhm:$DPSCRIPT/fcs_st_rh_csv_IFF.pl:%: --out /archives-yms/data/stsort_rdhm --loc ST --facilityfile $DPSCRIPT/facilityMapping.ini --config AWW --sort --log $DPDATA/data/stsort_rdhm/log/stsort_rdhm.log --pplog
#
# TESEC
#$DPDATA/data/stsort_tesec:$DPSCRIPT/fcs_cust_stsort_tesec.pl:%: --logfile $DPDATA/data/stsort_tesec/log/stsort_tesec_move_file.log
#$DPDATA/data/stsort_tesec/DTA:$DPSCRIPT/fcs_tesec_dta_sort_IFF.pl:%: --out /archives-yms/data/stsort_tesec --loc ST  --facilityfile $DPSCRIPT/facilityMapping.ini --site stsort --config AWW --logfile $DPDATA/data/stsort_tesec/log/stsort_tesec_dta.log --pplog
#$DPDATA/data/stsort_tesec/KSM:$DPSCRIPT/fcs_tesec_ksm_sum_IFF.pl:%: --out /archives-yms/data/stsort_tesec --loc ST --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/stsort_tesec/log/stsort_tesec_ksm.log --pplog
