# 12-Apr-2021 jgarcia	: initial
#
#
# $DPDATA/data/meet:$DPSCRIPT/fcs_cust_meet.pl:%: --logfile $DPDATA/data/meet/log/move_file.log
# ACCUTEST
# $DPDATA/data/meet/ACCU:$DPSCRIPT/fcs_accueol_IFF.pl:%: --site meet --type Process --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/meet/Prg_Process --limitDir $DPDATA/data/meet/TP --loc ME --logfile $DPDATA/data/meet/log/meet.log --pplog
# $DPDATA/data/meet/ACCU/Processed:$DPSCRIPT/fcs_accueol_IFF.pl:%: --site meet --type Product --qde --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/meet/Prg_Product --limitDir $DPDATA/data/meet/TP --loc ME --logfile $DPDATA/data/meet/log/meet.log --pplog
# REEDHOLM
# $DPDATA/data/meet/RDHM:$DPSCRIPT/fcs_stdf_rdhm_et_IFF.pl:%: --site meet --type Process --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/meet/Prg_Process --loc ME --tpdir $DPDATA/data/meet/TP  --logfile $DPDATA/data/meet/log/meet.log --pplog
# $DPDATA/data/meet/RDHM/Processed:$DPSCRIPT/fcs_stdf_rdhm_et_IFF.pl:%: --site meet --type Product --qde --facilityfile $DPSCRIPT/facilityMapping.ini --out /archives-yms/data/meet/Prg_Product --loc ME --tpdir $DPDATA/data/meet/TP --logfile $DPDATA/data/meet/log/meet.log --pplog
