#05-Aug-2022 jgarcia initial
# SZ
$DPDATA/data/mtsort_sz:$DPSCRIPT/fcs_cust_mtsort_sz.pl:%: --logfile $DPDATA/data/mtsort_sz/log/mtsort_sz_move_file.log
$DPDATA/data/mtsort_sz/STDFV3:$DPSCRIPT/fcs_stdfv3_szsort_IFF.pl:%: --out /archives-yms/data/mtsort_sz --facilityfile $DPSCRIPT/facilityMapping.ini --loc MT --config SZ --tpDir $DPDATA/data/mtsort_sz/TP --logfile $DPDATA/data/mtsort_sz/log/mtsort_sz_STDFV3.log --pplog
$DPDATA/data/mtsort_sz/STDFV4:$DPSCRIPT/fcs_stdfv4_szsort_IFF.pl:%: --out /archives-yms/data/mtsort_sz --facilityfile $DPSCRIPT/facilityMapping.ini --loc MT --config SEPM --logfile $DPDATA/data/mtsort_sz/log/mtsort_sz_STDFV4.log --pplog
