#2021-Apr-08 Karen : Create

# SEPROBE
#/data/szsort_wmap_sep:$DPSCRIPT/fcs_se_probe_IFF.pl:%: --out /data/szsort_wmap_sep/stage --site szsort --loc SZ --config SEPM --log /data/szsort_wmap_sep/log/szsort_wmap_sep.log --pplog
#
# BSTDF
#/data/szsort_bstdf:$DPSCRIPT/fcs_bstdf_IFF.pl:%: --loc SZ --config SEPM --out /data/szsort_bstdf/stage --logfile /data/szsort_bstdf/log/szsort_bstdf.log --pplog
#
# EAGLE
$DPDATA/data/szsort_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site szsort --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --config SEPM --out  /archives-yms/data/szsort_eagle --log $DPDATA/data/szsort_eagle/log/szsort_eagle.log --pplog
#
# TMT
#/data/szsort_tmt:$DPSCRIPT/fcs_stdf_tmt_IFF.pl:%: --out /data/szsort_tmt/stage --loc SZ --config SEPM --logfile /data/szsort_tmt/log/szsort_tmt.log --pplog

