#2021-Apr-22  jgarcia : initial
# POWERTECH
$DPDATA/data/szft_ptech:$DPSCRIPT/fcs_powertech_stdf_IFF.pl:STDF: --out /archives-yms/data/szft_ptech --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_ptech/log/szft_ptech.log --finallot -pplog
$DPDATA/data/szft_ptech:$DPSCRIPT/fcs_sz_ptec_xls_IFF.pl:XLS: --out /archives-yms/data/szft_ptech --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile $DPDATA/data/szft_ptech/log/szft_ptech.log --finallot -pplog


