# 14-Apr-2021 Karen     : Created

# ADVAN
$DPDATA/data/cpsort_advan:$DPSCRIPT/fcs_stdf_advantest_IFF.pl:%:  --site cpsort_advan --config SEPM --loc CP --out /archives-yms/data/cpsort_advan --facilityfile $DPSCRIPT/facilityMapping.ini --log $DPDATA/data/cpsort_advan/log/cpsort_advan.log --pplog

