#2021-Apr-23  gllego : initial
###
# HANA EAGLE
$DPDATA/data/hana_th_ft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site hana_th_ft --loc HANA_TH --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/hana_th_ft_eagle --logfile $DPDATA/data/hana_th_ft_eagle/log/hana_th_ft_eagle.log --pplog
