# 23-May-2024 Eric	: new
# split file
$DPDATA/data/isg_prb_autochar/inbox:$DPSCRIPT/isg_prb_autochar_splitbywafer.pl:%: --out $DPDATA/data/isg_prb_autochar/outbox --separator ',' --splitcolumn 1 --logfile $DPDATA/data/isg_prb_autochar/log/isg_prb_autochar_splitbywafer.pl.log
# translate to IFF
$DPDATA/data/isg_prb_autochar/outbox:$DPSCRIPT/isg_prb_autochar.pl:%: --out /archives-yms/data/isg_prb_autochar --logfile $DPDATA/data/isg_prb_autochar/log/isg_prb_autochar.pl.log
