# JND SCRIBE TO REFDB - remove update existing
$DPDATA/data/jnd_scribe:$DPSCRIPT/jnd_decrypt_load_scribe_to_ref.pl:%: -table on_scribe -logfile $DPDATA/data/jnd_scribe/log/jnd_decrypt_load_from_scribe_to_ref.log
