# JND SCRIBE TO REFDB
# $DPDATA/data/jnd_ship_scribe:$DPSCRIPT/jnd_decrypt_load_scribe_to_ref.pl:gpg: -table on_scribe --update_existing -logfile $DPDATA/data/jnd_ship_scribe/log/jnd_decrypt_load_scribe_to_ref.log
#
# EFK WEH TO REFDB
# $DPDATA/data/efk_weh_txt/outbox2:$DPSCRIPT/efk_weh_to_ref_v2.pl:%: -table on_lot -logfile $DPDATA/data/efk_weh_txt/log/efk_weh_to_ref_on_lot.log
# $DPDATA/data/efk_weh_txt/outbox2/Processed:$DPSCRIPT/efk_weh_to_ref_v2.pl:%: -table on_prod -logfile $DPDATA/data/efk_weh_txt/log/efk_weh_to_ref_on_prod.log
# $DPDATA/data/efk_weh_txt/outbox2/Processed/Processed:$DPSCRIPT/efk_weh_to_ref_v2.pl:%: -table on_scribe -logfile $DPDATA/data/efk_weh_txt/log/efk_weh_to_ref_on_scribe.log
