#$DPDATA/data/xqorvo_aos_tr_ft/raw:/export/home/dpower/work/joven/scripts/qorvo_aos_tr_uncompress.pl:%: -out1 $DPDATA/data/xqorvo_aos_tr_ft/inbox -logfile $DPDATA/data/xqorvo_aos_tr_ft/log/qorvo_aos_csv_uncompress.pl.log
$DPDATA/data/xqorvo_aos_tr_ft/raw:$DPSCRIPT/qorvo_aos_tr_uncompress.pl:%: -out1 $DPDATA/data/xqorvo_aos_tr_ft/inbox -logfile $DPDATA/data/xqorvo_aos_tr_ft/log/qorvo_aos_csv_uncompress.pl.log

