#2021-Apr-22  jgarcia : initial
# MOSTRAK FT
/export/home/dpower/jag/szft_moztrak:/export/home/dpower/jag/eta_master/scripts/fcs_stdf_mostrak_IFF.pl:%: --out /export/home/dpower/jag/szft_moztrak/outbox --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --logfile /export/home/dpower/jag/szft_moztrak/log/szft_mostrak.log --finallot --pplog


