#2021-Apr-22  jgarcia : initial
# EAGLE FT
#$DPDATA/data/szft_eagle:$DPSCRIPT/fcs_eagle_log_IFF.pl:%: --site szft --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/szft_eagle --log $DPDATA/data/szft_eagle/log/szft_eagle.log --pplog
/apps/exensio_data/data/szft_eagle/ce-2105:/export/home/dpower/project/work/jag/CE-2105-exensio-cloudsite-suzhou-ft-eagle-loadboard-and-dutboard-information-dev/scripts/fcs_eagle_log_IFF.pl:%: --site szft --loc SZ --facilityfile $DPSCRIPT/facilityMapping.ini --finallot --out /archives-yms/data/szft_eagle --log $DPDATA/data/szft_eagle/log/szft_eagle.log


